body,
html {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: #87ceeb;
  background-clip: padding-box;
  border-radius: 0 20px 20px 0;
}
::-webkit-scrollbar-track {
  background-color: #f0f8ff;
  border-radius: 0 20px 20px 0;
  box-shadow: inset 0px 0px 5px black;
}

.main-container {
  position: relative;
  background-color: #f0f8ff;
  min-height: 100vh;
  margin: 0px;
  overflow: hidden;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.about-container,
.projects-container,
.github-container,
.notion-container,
.blog-container {
  padding: 25px;
  margin-top: 20px;
  margin-left: 20px;
}
.about-icon:hover,
.projects-icon:hover,
.github-icon:hover,
.notion-icon:hover,
.blog-icon:hover {
  transform: scale(1.15);
}
.github-icon,
.blog-icon {
  background-color: #ffffff;
  height: 1.3em;
  font-size: 70px;
  border: 3px solid black;
  border-radius: 15%;
  box-shadow: 8px 8px 8px black;
  transition: transform 0.2s ease-in-out;
}
.notion-icon {
  background-color: #ffffff;
  height: 1.3em;
  font-size: 70px;
  border: 3px solid black;
  border-radius: 15%;
  box-shadow: 8px 8px 8px black;
  transition: transform 0.2s ease-in-out;
}
.about-icon {
  background-color: #ffffff;
  height: 1.3em;
  font-size: 70px;
  border: 3px solid black;
  border-radius: 15%;
  box-shadow: 8px 8px 8px black;
  transition: transform 0.2s ease-in-out;
}
.projects-icon {
  background-color: #ffffff;
  height: 1.3em;
  font-size: 70px;
  border: 3px solid black;
  border-radius: 15%;
  box-shadow: 8px 8px 8px black;
  transition: transform 0.2s ease-in-out;
}
.about-container p,
.projects-container p,
.github-container p,
.notion-container p,
.blog-container p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: default;
}
.notion-container p {
  margin-left: 17px;
}
.about-container p {
  margin-left: 20px;
}
.projects-container p {
  margin-left: 13px;
}
.github-container p {
  margin-left: 18px;
}
.blog-container p {
  margin-left: 30px;
}
.footer-bar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: #87ceeb;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: end;
  margin-top: 100px;
  padding-right: 30px;
  padding-top: 18.4px;
  padding-bottom: 18.4px;
}
.footer-bar p {
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.footer-bar p:last-child {
  margin-right: 15px;
}
/** 모달 */
.modal {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0);
  animation: slideIn 0.5s ease-in-out;
  animation: bounceIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f8ff;
  padding: 20px;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 12px 12px 12px black;
}
.modal-content-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f8ff;
  padding: 20px;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 12px 12px 12px black;
  overflow-y: auto;
  max-height: 80vh;
}

.close {
  position: fixed;
  top: 10px;
  left: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 36px;
  line-height: 36px;
  display: inline-block;
}
.close-box {
  text-align: center;
  margin-top: 25px;
}

.close-box::before {
  content: ""; /* 가상 요소를 생성하여 밑줄을 만듭니다. */
  display: block;
  border-bottom: 5px solid black;
  width: 100%; /* 원하는 길이로 조정 가능 */
  margin: 20px 0px; /* 가운데 정렬을 위해 추가 */
}

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2); /* 조금 더 크게 나타나는 중간 상태 */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* 최종적으로 원래 크기로 설정 */
  }
}
.about-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.about-info-container img {
  margin-top: 15px;
  margin-right: 10px;
}
.about-info-box p:first-child {
  font-size: 30px;
}
.about-info0box div {
  text-align: left;
}
.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  border-radius: 10px;
  border: 1px solid #f0f8ff;
}
.about-img-container img {
  margin: 5px;
}
.modal-content h1 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}
.modal-container {
  width: 1000px;
  height: 50vh;
}
.modal-box {
  display: block;
  justify-content: flex-start;
  align-items: center;
}
.modal-img {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 15%;
  box-shadow: 8px 8px 8px black;
  transition: transform 0.2s ease-in-out;
}
.modal-img:hover {
  transform: scale(1.15);
}
.project-div {
  width: 25%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/** 새로운 모달 */
.new-modal {
  display: none;
  position: fixed;
  top: 53%;
  left: 55%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0);
  animation: slideIn 0.5s ease-in-out;
  animation: bounceIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.new-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f8ff;
  padding: 20px;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 12px 12px 12px black;
  max-height: 80vh;
  overflow-y: auto;
  text-align: left;
}

/** 프로젝트 관련 파트 */
.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.project-title img {
  margin-right: 20px;
}

.project-title h1 {
  font-size: 36px;
}

.project-title h3 {
  font-size: 24px;
}

.project-title-content {
  width: 70%;
  margin-right: 20px;
}

.task-flex-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.task-container h6 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.task-container ul {
  list-style-type: square;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-container li {
  font-size: 18px;
  margin-bottom: 5px;
}

.task-container span {
  font-weight: bold;
  padding-left: 10px;
}

.task-img-container {
  width: 50%;
}

.task-img {
  border: 1px solid black;
  margin-left: 10px;
}

.new-modal-content {
  text-align: left;
}

.modal-box h1,
.modal-box h6 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.project-title-content a {
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: bold;
}
.experience-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.experience-container h4 {
  margin-bottom: 10px;
}
.experience-container h6 {
  font-weight: 500;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.profile-container strong {
  font-weight: bold;
  font-size: 40px;
}
.project-title-content a {
  text-decoration: none;
  color: blue;
}
.chatApp-flexbox,
.teamApp-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding-right: 120px;
  padding-left: 100px;
  border-right: 5px solid black;
}
.p-group p {
  font-size: 25px;
}