body, html {
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.main-container {
  position: relative;
  background-color: #EBE3D5;
  min-height: 100vh;
  margin: 0px;
  overflow: hidden;
}
.projects-container, .github-container, .notion-container, .blog-container{
    padding: 25px;
    margin-top: 20px;
    margin-left: 20px;
}
.about-icon:hover,
.projects-icon:hover,
.github-icon:hover,
.notion-icon:hover,
.blog-icon:hover {
    transform: scale(1.15);
}
.about-container{
    padding: 25px;
    margin-left: 20px;
}
.github-icon, .blog-icon{
    background-color: #F3EEEA;
    font-size: 90px;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 8px 8px 8px black;
    transition: transform 0.2s ease-in-out;
}
.notion-icon{
    background-color: #F3EEEA;
    font-size: 98px;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 8px 8px 8px black;
    transition: transform 0.2s ease-in-out;
}
.about-icon{
   background-color: #F3EEEA;
   height: 1.3em;
   font-size: 70px;
   border: 3px solid black;
   border-radius: 15%;
   box-shadow: 8px 8px 8px black;
   transition: transform 0.2s ease-in-out;
}
.projects-icon{
    background-color: #F3EEEA;
    height: 1.3em;
    font-size: 70px;
    border: 3px solid black;
    border-radius: 15%;
    box-shadow: 8px 8px 8px black;
    transition: transform 0.2s ease-in-out;
}
.about-container p, .projects-container p, .github-container p, .notion-container p, .blog-container p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    cursor: default;
}
.notion-container p{
    margin-left: 17px;
}
.about-container p{
    margin-left: 20px;
}
.projects-container p{
    margin-left: 13px;
}
.github-container p{
    margin-left: 18px;
}
.blog-container p{
    margin-left: 30px;
}
.footer-bar{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background-color: #776B5D;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: end;
    margin-top: 100px;
    padding-right: 30px;
    padding-top: 18.4px;
    padding-bottom: 18.4px;
}
.footer-bar p{
    font-weight: bold;
    font-size: 25px;
    color: #F3EEEA;
}
.footer-bar p:last-child{
    margin-right: 15px;
}
/** 모달 */
.modal {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0);
    animation: slideIn 0.5s ease-in-out;
    animation: bounceIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EBE3D5;
    padding: 20px;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 12px 12px 12px black;
}
.modal-content-about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EBE3D5;
    padding: 20px;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 12px 12px 12px black;
    overflow-y: auto;
    max-height: 80vh;
}

.close {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 36px;
    line-height: 36px;
    display: inline-block;
}
.close-box {
    text-align: center; /* 가운데 정렬을 위해 추가 */
}

.close-box::before {
    content: ""; /* 가상 요소를 생성하여 밑줄을 만듭니다. */
    display: block;
    border-bottom: 5px solid black;
    width: 100%; /* 원하는 길이로 조정 가능 */
    margin: 20px 0px; /* 가운데 정렬을 위해 추가 */
}

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2); /* 조금 더 크게 나타나는 중간 상태 */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* 최종적으로 원래 크기로 설정 */
  }
}
.about-info-container{
    display: flex;
    justify-content: center;
}
.about-info-box{
    display:flex;
    justify-content: center;
    margin: 15px;
}
.about-info-container img{
    margin-top: 15px;
}
.about-info-box p:first-child{
    font-size: 30px;
}
.about-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBE3D5;
    border-radius: 10px;
    border: 1px solid #EBE3D5;
}
.about-img-container img{
    margin: 5px;
}
.modal-content h1{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}
.modal-container{
    width: 1000px;
    height: 50vh;
}
.modal-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.modal-img{
    width: 100px;
    height: 100px;
    background-color: #F3EEEA;
    border: 3px solid black;
    border-radius: 15%;
    box-shadow: 8px 8px 8px black;
    transition: transform 0.2s ease-in-out;
}
.modal-img:hover{
    transform: scale(1.15);
}
.project-div{
    width: 25%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/** 새로운 모달 */
.new-modal {
    display: none;
    position: fixed;
    top: 53%;
    left: 55%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0);
    animation: slideIn 0.5s ease-in-out;
    animation: bounceIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.new-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EBE3D5;
    padding: 20px;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 12px 12px 12px black;
    max-height: 80vh;
    overflow-y: auto;
}
/** 프로젝트 관련 파트 */
.project-title{
    display: flex;
    justify-content: center;
}
.project-title h1{
    font-size: 50px;
}
.project-title h3{
    font-size: 30px;
}
.modal-box  h1{
    font-size: 30px;
    font-weight: bold;
}
.modal-box h6{
    font-size: 20px;
    font-weight: bold;
}
.project-title-content{
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}
.task-container{
    margin-top: 10px;
}